<h1>Sửa Sinh viên</h1>
<form action="/update" method="POST">
    ID: <input type="text" name="id" value="<%= sinhvien.id %>">
    <br> MaSV: <input type="text" name="MaSV" value="<%= sinhvien.MaSV %>">
    <br> NgaySinh: <input type="text" name="Ngaysinh" value="<%= sinhvien.Ngaysinh %>">
    <br> gioitinh: <input type="text" name="gioitinh" value="<%= sinhvien.gioitinh %>">
    <br> quequan: <input type="text" name="quequan" value="<%= sinhvien.quequan %>"><br>
    <button type="submit">Sửa Sinh viên</button>
</form>